{
    "presets": [ 
         "es2015" ,
        ["env", {
            "modules": false,
            "targets": {
              "browsers": ["> 1%"]
              }
          }],
          "stage-0",
          "react"
    ],
  "plugins": [
      
      "syntax-dynamic-import",
      "transform-runtime",
       ["import", 
        { libraryName: "antd-mobile", style: "css" }
      ],
       "dynamic-import-webpack"
      
      ]
}